$primary: #000;
$secondary: #15181c;
$search: #202327;
$white: #d9d9d9;
$gray: #7a7a7a;
$outline: #2f3336;
$retweet: #00c06b;
$retweet-hover: #01180e;
$like: #e8265e;
$like-hover: #1d0109;
$twitter: #33a1f2;
$twitter-dark-hover: #011017;
$twitter-light-hover: #2c8ed6;
$twitter-disabled: rgb(29, 161, 242);
