@import "../../variables.scss";

.modal-backdrop.show {
  background-color: $outline;
}
.modal .modal-dialog {
  max-width: 600px;
  .modal-content {
    border-radius: 16px;
    background: $primary;

    .modal-header {
      padding: 0.5rem;
      border-bottom: 1px solid $outline;
      .icon-container {
        display: flex;
        margin-right: 5px;
        padding: 5px;
        border-radius: 100%;

        > svg path {
          color: $twitter;
        }

        &:hover {
          background: $twitter-dark-hover;
        }

        .icon {
          width: 25px;
          height: 25px;
        }
      }
    }

    .modal-body {
      padding: 0;
      .tweet-box {
        display: flex;
        flex-direction: column;

        padding: 14px 16px;

        max-width: 100%;

        .body {
          display: flex;
          margin-top: 3px;

          position: relative;

          .avatar {
            width: 49px;
            height: 49px;
            border-radius: 50%;
            flex-shrink: 0;
            background: $gray;
          }

          .content {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-top: 2px;
            padding-left: 10px;

            textarea {
              padding-left: 10px;
              font-size: 20px;
              resize: none;
              width: 100%;

              &:focus {
                outline: none;
              }
            }

            .reply-container {
              border-bottom: 1px solid $outline;
              padding-bottom: 10px;
              margin-bottom: 10px;
              margin-top: 10px;

              .reply-setting {
                display: flex;
                align-items: center;
                padding: 5px;
                border-radius: 16px;
                width: 160px;

                svg path {
                  fill: $twitter;
                }

                span {
                  margin-left: 5px;
                  color: $twitter;
                  font-size: 13px;
                  font-weight: 700;
                }

                &:hover {
                  background: $twitter-dark-hover;
                }
              }
            }

            .bottom-content {
              display: flex;
              justify-content: space-between;
              align-items: center;

              .icon-container {
                display: flex;
                align-items: center;

                .icon {
                  padding: 7px;
                  border-radius: 100%;
                  display: flex;
                  align-items: center;

                  > svg path {
                    fill: $twitter;
                  }

                  &:hover {
                    background: $twitter-dark-hover;
                  }
                }
              }

              .tweet-length {
                color: $gray;
                margin: 0 16px;
                padding-right: 16px;
                border-right: 1px solid $outline;
              }

              .max-length {
                color: $like;
              }
            }
          }
        }
      }
    }
  }
}
